/russia_map_2024_oblasti.png
/SVG-код.xml
/Temps
/TEST_Интерактивная карта РФ.html
/Thumbs.db
/~$Итоговые_расчеты_по_продуктам_общий.xlsx
/Интерактивная карта_.html
/Интерактивная карта_all.html
/Интерактивная карта_test.html
/Итоговые_расчеты_по_продуктам_общий.xlsx
/Карта Трудвсем.txt
/Тестовая карта (СКФО).svg